body {
 text-align: center;
 background-image: url("./images/nasa2.jpg");
 color: red;
 margin-left: 2em;
 margin-right: 2em;
 } 

h1 {
 background: black;
 color: red;
 font-size: 4em;
 border-radius: 5px;
 padding-left: 10px;
 }
h2 { 
font-size: 4em;
 }
h4 { 
font-size: 2em;
 }
.sorry-message {
 font-size: 1.5em;
}
a:link {color: blue; }
a:visited {color: purple; }
a:hover {color: darkorange; }
.welcome { margin: 0 auto;  text-align: center; }

table, td, th {font-size: 1.5em; background-color: black; margin: 0 auto; border: 2px solid darkorange; }

.back {
	display: inline-block;
	margin-bottom: 18px;
}

/* あしあと部分のCSS */
.access-counter {
    color: yellow;
    font-size: 0.8em;
    margin: 0 auto;
    text-align: center;
}

.access-counter-number {
    color:yellow;
}

/* 歌詞のCSS */
.lyric {
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
}

.br {
  white-space: pre-line;
  color: aliceblue;
}